In [34]:
import pandas as pd
from sqlalchemy import create_engine


engine = create_engine("postgresql://postgres@localhost:5432/bike_store")

# data
df_customers = pd.read_csv('./data/customers.csv')
df_products = pd.read_csv('./data/products.csv')
df_orders = pd.read_csv('./data/orders.csv')
df_order_items = pd.read_csv('./data/order_items.csv')
df_brands = pd.read_csv('./data/brands.csv')
df_categories = pd.read_csv('./data/categories.csv')
df_stores = pd.read_csv('./data/stores.csv')
df_staffs = pd.read_csv('./data/staffs.csv')
df_stocks = pd.read_csv('./data/stocks.csv')

# PostgreSQL
df_customers.to_sql('customers', engine, if_exists='replace', index=False)
df_products.to_sql('products', engine, if_exists='replace', index=False)
df_orders.to_sql('orders', engine, if_exists='replace', index=False)
df_order_items.to_sql('order_items', engine, if_exists='replace', index=False)
df_brands.to_sql('brands', engine, if_exists='replace', index=False)
df_categories.to_sql('categories', engine, if_exists='replace', index=False)
df_stores.to_sql('stores', engine, if_exists='replace', index=False)
df_staffs.to_sql('staffs', engine, if_exists='replace', index=False)
df_stocks.to_sql('stocks', engine, if_exists='replace', index=False)

print("✅ All tables loaded successfully!")

✅ All tables loaded successfully!

In [35]:
import pandas as pd

query = """
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(o.order_id) AS total_orders
FROM
    customers c
JOIN
    orders o ON c.customer_id = o.customer_id
GROUP BY
    c.customer_id,
    c.first_name,
    c.last_name
ORDER BY
    total_orders DESC
LIMIT 20;
"""

result = pd.read_sql(query, engine)
result

    customer_id first_name last_name  total_orders
0             3     Tameka    Fisher             3
1            46     Monika      Berg             3
2            15     Linnie    Branch             3
3            61    Elinore   Aguilar             3
4            50  Cleotilde     Booth             3
5            17      Caren  Stephens             3
6            32    Araceli    Golden             3
7            77       Keri   Bridges             3
8            18  Georgetta    Hardin             3
9             7    Latasha      Hays             3
10           16     Emmitt   Sanchez             3
11           43    Mozelle    Carter             3
12            8  Jacquline    Duncan             3
13           24     Corene      Wall             3
14           66     Lorrie    Becker             3
15           53  Saturnina    Garner             3
16           10    Pamelia    Newman             3
17           64     Bobbie    Foster             3
18          116    Merlene    Vinson             3
19           11    Deshawn   Mendoza             3

In [36]:
query_pr = """
SELECT
    p.product_id,
    p.product_name,
    b.brand_name,
    p.list_price,
    COUNT(oi.order_id) AS total_orders
FROM
    products p
JOIN
    order_items oi ON p.product_id = oi.product_id 
JOIN
    brands b ON p.brand_id = b.brand_id
GROUP BY
    p.product_id,
    p.product_name,
    b.brand_name,
    p.list_price
ORDER BY
    total_orders DESC
LIMIT 20;
"""

result_pro = pd.read_sql(query_pr, engine)
result_pro

,product_id,product_name,brand_name,list_price,total_orders
0,6,Surly Ice Cream Truck Frameset - 2016,Surly,469.99,110
1,12,Electra Townie Original 21D - 2016,Electra,549.99,104
2,13,Electra Cruiser 1 (24-Inch) - 2016,Electra,269.99,103
3,7,Trek Slash 8 27.5 - 2016,Trek,3999.99,101
4,9,Trek Conduit+ - 2016,Trek,2999.99,101
5,23,Electra Girl's Hawaii 1 (20-inch) - 2015/2016,Electra,299.99,100
6,25,Electra Townie Original 7D - 2015/2016,Electra,499.99,98
7,10,Surly Straggler - 2016,Surly,1549.00,97
8,4,Trek Fuel EX 8 29 - 2016,Trek,2899.99,97
9,11,Surly Straggler 650b - 2016,Surly,1680.99,97
10,16,Electra Townie Original 7D EQ - 2016,Electra,599.99,95
11,22,Electra Girl's Hawaii 1 (16-inch) - 2015/2016,Electra,269.99,94
12,15,Electra Moto 1 - 2016,Electra,529.99,91
13,17,Pure Cycles Vine 8-Speed - 2016,Pure Cycles,429.00,91
14,5,Heller Shagamaw Frame - 2016,Heller,1320.99,91
15,26,Electra Townie Original 7D EQ - 2016,Electra,599.99,90
16,21,Electra Cruiser 1 (24-Inch) - 2016,Electra,269.99,90
17,18,Pure Cycles Western 3-Speed - Women's - 2015/2016,Pure Cycles,449.00,89
18,24,Electra Townie Original 21D - 2016,Electra,549.99,89
19,14,Electra Girl's Hawaii 1 (16-inch) - 2015/2016,Electra,269.99,86

In [37]:
query_rev = """
SELECT
    p.product_id,
    p.product_name,
    b.brand_name,
    p.list_price,
    COUNT(oi.order_id) AS total_orders,
    (p.list_price * COUNT(oi.order_id)) AS total_revenue
FROM
    products p
JOIN
    order_items oi ON p.product_id = oi.product_id 
JOIN
    brands b ON p.brand_id = b.brand_id
GROUP BY
    p.product_id,
    p.product_name,
    b.brand_name,
    p.list_price
ORDER BY
    total_revenue DESC
LIMIT 20;
"""

result_rev = pd.read_sql(query_rev, engine)
result_rev

,product_id,product_name,brand_name,list_price,total_orders,total_revenue
0,7,Trek Slash 8 27.5 - 2016,Trek,3999.99,101,403998.99
1,9,Trek Conduit+ - 2016,Trek,2999.99,101,302998.99
2,4,Trek Fuel EX 8 29 - 2016,Trek,2899.99,97,281299.03
3,11,Surly Straggler 650b - 2016,Surly,1680.99,97,163056.03
4,56,Trek Domane SLR 6 Disc - 2017,Trek,5499.99,28,153999.72
5,8,Trek Remedy 29 Carbon Frameset - 2016,Trek,1799.99,85,152999.15
6,10,Surly Straggler - 2016,Surly,1549.00,97,150253.00
7,43,Trek Fuel EX 9.8 27.5 Plus - 2017,Trek,5299.99,25,132499.75
8,58,Trek Madone 9.2 - 2017,Trek,4999.99,26,129999.74
9,61,Trek Powerfly 8 FS Plus - 2017,Trek,4999.99,25,124999.75
10,51,Trek Silque SLR 8 Women's - 2017,Trek,6499.99,19,123499.81
11,5,Heller Shagamaw Frame - 2016,Heller,1320.99,91,120210.09
12,50,Trek Silque SLR 7 Women's - 2017,Trek,5999.99,20,119999.80
13,40,Trek Fuel EX 9.8 29 - 2017,Trek,4999.99,21,104999.79
14,62,Trek Boone 7 - 2017,Trek,3499.99,25,87499.75
15,3,Surly Wednesday Frameset - 2016,Surly,999.99,86,85999.14
16,49,Trek Domane SL 6 - 2017,Trek,3499.99,22,76999.78
17,47,Trek Remedy 9.8 - 2017,Trek,5299.99,14,74199.86
18,63,Trek Boone Race Shop Limited - 2017,Trek,3499.99,21,73499.79
19,55,Trek Domane S 6 - 2017,Trek,2699.99,26,70199.74

In [40]:
query_state = """
SELECT
    c.state,
    p.product_id,
    p.product_name,
    COUNT(oi.order_id) AS total_orders
FROM
    products p
JOIN 
    order_items oi ON p.product_id = oi.product_id
JOIN 
    orders o ON oi.order_id = o.order_id
JOIN 
    customers c ON o.customer_id = c.customer_id
GROUP BY
    c.state,
    p.product_id,
    p.product_name
ORDER BY
    c.state ASC,
    total_orders DESC
LIMIT 200;
"""

result_state = pd.read_sql(query_state, engine)
result_state

,state,product_id,product_name,total_orders
0,CA,15,Electra Moto 1 - 2016,29
1,CA,9,Trek Conduit+ - 2016,28
2,CA,25,Electra Townie Original 7D - 2015/2016,24
3,CA,2,Ritchey Timberwolf Frameset - 2016,24
4,CA,6,Surly Ice Cream Truck Frameset - 2016,23
...,...,...,...,...
195,CA,119,Trek Kids' Neko - 2018,1
196,CA,277,Trek Precaliber 24 21-speed Boy's - 2018,1
197,CA,265,Strider Strider 20 Sport - 2018,1
198,CA,306,Electra Townie Balloon 7i EQ Ladies' - 2017/2018,1
199,CA,140,Trek Remedy 9.8 27.5 - 2018,1